extends layout
block content
	h1 Want to create an account with your facebook profile?
	p. 
		We got your facebok profile but couldn't find an account in our database. 
		Do you want to create a new account using your facebook profile with one click?
	a(href="/register-instagram/confirm") Register with Facebook